<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>test_class_bdd</Title>
			<Shortcut>test_class_bdd</Shortcut>
			<Description>Code snippet for test class</Description>
			<Author>Arkadiusz Beer</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Declarations>
				<Literal>
					<ID>classname</ID>
					<ToolTip>Scenario</ToolTip>
					<Default>create_a_constructor</Default>
				</Literal>
				<Literal>
					<ID>SubjectUnderTest</ID>
					<ToolTip>Subject that we will test</ToolTip>
					<Default>int</Default>
				</Literal>
				
			</Declarations>
			<Code Language="csharp"><![CDATA[[Category("BDD_$SubjectUnderTest$")]
public class when_we_$classname$: InstanceSpecification<$SubjectUnderTest$>
{
	protected override $SubjectUnderTest$ Create_subject_under_test()
	{
	  return new $SubjectUnderTest$($selected$$end$);
	}
}			
]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>